:root {
  --secondary-color: #1E8449;
}


.card-body a i{
  color: var(--secondary-color);
  font-size: 28px;
  margin: 0px 10px;
}

.card {
  border-bottom: solid 10px var(--secondary-color);
}

#new-icon {
  color: var(--secondary-color);
  font-size: 48px;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px black;
}

.card-body a i:hover {
  color: #C0392B !important;
}
