:root {
  --secondary-color: #1E8449;
}

.interact-button{
  color: var(--secondary-color);
  font-size: 22px;
}

.interact-button:hover {
  color: #C0392B !important;
}

.card {
  border-bottom: solid 5px var(--secondary-color);
}

#new-icon {
  color: var(--secondary-color);
  font-size: 40px;
  padding: 10px;
}

#new-icon:hover {
  font-size: 46px;
}

.card-body a i {
  padding: 5px;
  font-size: 24px;
}
