body {
  background-color: #F8F9F9;
  font-family: 'Questrial', sans-serif;
}

#nav_list li {
  font-size: 18px;
}

#nav_bar {
  border-bottom: white 2px solid;
  /* background-color: #C0392B; */
  opacity: 0.9;
  /* background-image: linear-gradient(to left bottom, #a41a1a, #b0003a, #ad0062, #930090, #4a20be); */
  background-image: linear-gradient(to left top, #ff0000, #d1000a, #a3000d, #77000a, #4e0000);
  /* background-image: linear-gradient(to left top, #ff0000, #f60044, #d40072, #960099, #0917af); */
  /* background-image: linear-gradient(to left top, #ff0000, #f3002d, #e10044, #ca0055, #af0960); */
  /* background-image: linear-gradient(to left top, #0d602a, #06752e, #008b31, #00a232, #01b931); */
}

.nav-link {
  color: white !important;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  margin: 0px 20px;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

.navbar-brand {
  font-size: 38px;
  font-family: 'Pacifico', cursive;
}

.navbar-brand i{
  color: #FF0000 !important;
}

.navbar-text {
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  font-style: italic;
  color: white !important;
}
