  
{% extends "base.html" %}

{% block title %}
    Administrar Empresas
{% endblock %}

{% block mainContent %}

<div class="container">
  <div class="row text-center">
    <!-- AGREGAR CARDS DE EMPRESAS -->
    {% for empresa in empresas %}
        <div class="col-3">
            {% include "card.html" with empresa=empresa %}
        </div>  
    {% endfor %}

    <!-- PARA AGREGAR EL CARD DE INSERTAR EMPRESA -->
    <div class="col-3">
        {% include "card.html" with empresa=None %}
    </div>  
  </div>
</div>

{% endblock %}
