{% extends "base.html" %}
{% load static %}

{% block title %}
    Administrar Empresas
{% endblock %}

{% block mainContent %}

  <link rel="stylesheet" href="{% static 'css/admRutasEmpresas.css' %}">
  <script src="{% static 'js/moreInfoButton.js' %}" charset="utf-8"></script>

  <div class="container mt-5">
    <div class="row">

      <!-- PARA AGREGAR EL CARD DE INSERTAR EMPRESA -->
      <div class="col-3 text-center">
          {% include "card.html" with empresa=None %}
      </div>

      <!-- AGREGAR CARDS DE EMPRESAS -->
      {% for empresa in empresas %}
          <div class="col-3 text-center">
              {% include "card.html" with empresa=empresa %}
          </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
