{% extends "base.html" %}
{% load static %}

{% block title %}
    Rutas
{% endblock title %}

{% block mainContent %}

    <link rel="stylesheet" href="{% static 'css/admRutas.css' %}">
    <script src="{% static 'js/admRutas.js' %}" charset="utf-8"></script>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container mt-5">

        <div class="row">

          <div class="col-3 text-center">
            <div class="card border-success">
                <div class="card-body">
                  <h5 class="card-title">¿Desea contribuir?</h5>
                  <p class="card-text">Añada una nueva ruta</p>
                  <a href="{% url 'insertar_ruta' %}"><i class="fas fa-plus" id="new-icon"></i></a>
                </div>
                <div class="card-footer">
                  <h6 class="text-muted">Puedes crear tantas rutas como requiera.</h6>
                </div>
            </div>
          </div>

          {% for ruta in rutas %}

            <div class="col-3 text-center">

              <div class="card mb-5 border-dark bg-light">

                <div class="card-body">

                  <h5 class="card-title">Ruta #{{ruta.id}}</h5>
                  <p class="card-text">Descripción: {{ruta.descripcion}}</p>

                  {# More info collapse #}
                  <div class="collapse" id="info-collapse{{ruta.id}}">
                    <ul class="list-group list-group-flush mb-4">
                      <li class="list-group-item">Precio: {{ruta.precio}} colones</li>
                      <li class="list-group-item">Horario: {{ruta.horario}}</li>
                      <li class="list-group-item">Duración promedio: {{ruta.duracion}} minutos</li>
                        <li class="list-group-item">
                          {% if ruta.rampa %}
                            Cuenta con rampa
                          {% else %}
                            No cuenta con rampa
                          {% endif %}
                        </li>
                    </ul>
                  </div>

                  {# More Info #}
                  <a class="btn btn-secondary" data-toggle="collapse" href="#info-collapse{{ruta.id}}" role="button" aria-expanded="false" aria-controls="info-collapse{{ruta.id}}">
                    Más información
                    <i class="fas fa-angle-down" style="color:white;"></i>
                  </a>

                  <br>
                  <br>

                  <a class="interact-button" href="{% url 'editar_ruta' id=ruta.id %}"><i class="fas fa-pencil-alt"></i></a>
                  <a class="interact-button" href="{% url 'borrar_ruta' id=ruta.id %}"><i class="fas fa-trash-alt"></i></a>

                </div>

                <div class="card-footer">
                  <h6 class="text-muted">Empresa: {{ruta.empresa.nombre}}</h6>
                </div>

              </div>

            </div>

          {% endfor %}

        </div>
    </div>

{% endblock mainContent %}
