{% extends "base.html" %}
{% load static %}

{% block title %}
Buscar rutas
{% endblock title %}


{% block mainContent %}
  <div class="container">
      <div class="row justify-content-center">

          <!-- COLUMNA IZQUIERDA ES EL MAPA -->
          <div class="col-6">
              <div id="divmapa" class="row-8 justify-content-center">

                  <!-- MAPA -->
                  <div id="map"></div>

                  <!-- ESTILOS DEL MAPA -->
                  <style>
                      #map {
                          width: 80%;
                          height: 600px;
                          margin: auto;
                      }
                  </style>


                  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
                      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                      crossorigin="" />
                  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
                      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
                      crossorigin=""></script>

                  <!-- PARA CENTRAR EL MAPA    -->
                  <script src="{% static 'js/center_map.js' %}"></script>
              </div>
          </div>

          <!-- COLUMNA DERECHA ES EL FORMULARIO DE BUSQUEDA -->
          <div class="col-6">
              <form>
                  <div class="form-group">
                      <label for="criterio">Criterio de busqueda</label>
                      <select class="form-control" id="criterio">
                          <option value="">Seleccione el criterio</option>
                          <option value="parada_cercana">Parada más cerca para llegar a un lugar</option>
                          <option value="empresa">Por empresa</option>
                          <option value="ruta">Por ruta</option>
                          <option value="destino">Por destino común</option>
                          <option value="paradas">Por paradas intermedias</option>
                          <option value="tiempo">Por tiempo ida/vuelta</option>
                      </select>
                  </div>
                  <div id="campos" class="form-group">
                      <!-- Aquí se colocan objetos dinámicos según el criterio -->
                  </div>
                  <button id="buscar" class="btn btn-primary">Buscar</button>
                  <button id="limpiar" class="btn btn-danger">Limpiar selección</button>
                  <button id="limpiar_mapa" class="btn btn-success">Limpiar mapa</button>
              </form>
          </div>
      </div>
  </div>

  <script src="{% static 'js/buscar_rutas.js' %}" charset="utf-8"></script>

{% endblock %}
