{% extends "base.html" %}
{% load static %}

{% block title %}
Rutas
{% endblock title %}

{% block mainContent %}
<style>
    div.row {
        margin: 40px;
    }
</style>


<div class="container">
    <div class="row text-center">
        <div class="col-4">
            {% include "card_personal.html" with nombre="Emmanuel Alfaro" gh_user="emmanuelab" profile_image="https://avatars0.githubusercontent.com/u/26278460?s=400&v=4" %}
        </div>
        
        <div class="col-4">
            {% include "card_personal.html" with nombre="Isaac Mena" gh_user="xsaco07" profile_image="https://avatars3.githubusercontent.com/u/29348322?s=400&v=4" %}
        </div>
        
        <div class="col-4">
            {% include "card_personal.html" with nombre="Fernando Rojas" gh_user="fernando-rojas12" profile_image="https://avatars1.githubusercontent.com/u/32204238?s=400&v=4" %}
        </div>
    </div>

</div>
{% endblock %}