{% extends "base.html" %}

{% block title %}
    CR-Route
{% endblock title %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">Registrar nueva empresa</h1>
                <form>
                    <!-- NOMBRE -->
                    <div class="form-group">
                        <label for="correo">Nombre</label>
                        <input id="correo" type="email" class="form-control" placeholder="Ej: pedro@empresa.com">
                    </div>
                    
                    <!-- ZONA -->
                    <div class="form-group">
                        <label for="zona">Zona</label>
                        <input id="zona" type="text" class="form-control" aria-describedby="help-zona"> 
                        <small id="help-zona" class="form-text text-muted">Lugares donde da servicio la empresa</small>

                    </div>

                    <!-- CORREO -->
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input id="correo" type="email" class="form-control">
                    </div>

                    <!-- DIRECCION -->
                    <div class="form-group">
                        <label for="desc">Dirección</label>
                        <input id="desc" type="text" class="form-control">
                    </div>

                    <!-- LATITUD -->
                    <div class="form-group">
                        <label for="lat">Latitud</label>
                        <input id="lat" type="text" class="form-control">
                    </div>

                    <!-- LONGITUD -->
                    <div class="form-group">
                        <label for="lon">Longitud</label>
                        <input id="lon" type="text" class="form-control">
                    </div>

                    <!-- HORARIO -->
                    <div class="form-group">
                        <label for="zona">Horario</label>
                        <input id="zona" type="text" class="form-control" aria-describedby="help-horario">
                        <small id="help-horario" class="form-text text-muted">Ej: Lunes a Viernes, a partir de las 6:00am luego cada 30 minutos hasta las 9:00pm.</small>
                    </div>

                    <!-- ENVIAR -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

    
{% endblock mainContent %}