<form method="POST" action="{{action}}" id="ruta-form">
    <!-- EMPRESA -->
    <div class="form-group">
        <input disabled value="{{empresa}}" name="empresa" type="text" class="form-control" required placeholder="Empresa">
    </div>
    <br>

    <!-- DESCRIPCION -->
    <div class="form-group">
        <input value="{{descripcion}}" name="descripcion" type="text" class="form-control" required placeholder="Descripción">
    </div>
    <br>

    <!-- PRECIO -->
    <div class="form-group">
        <input value="{{precio}}" name="precio" type="number" class="form-control" required placeholder="Precio">
    </div>
    <br>

    <!-- HORARIO -->
    <div class="form-group">
        <input value="{{horario}}" name="horario" type="text" class="form-control" required placeholder="Horario">
    </div>
    <br>

    <!-- DURACION -->
    <div class="form-group">
        <input value="{{duracion}}" name="duracion" type="number" class="form-control" required placeholder="Duración">
    </div>
    <br>

    <!-- RAMPA -->
    <div class="form-group">
        <select class="form-control" name="rampa">
            <option value="" disabled selected>¿Tiene rampa?</option>
            <option value="True" required>Sí</option>
            <option value="False" required>No</option>
        </select>
    </div>

    <!-- ENVIAR -->
    <button type="submit" class="btn btn-success" style="padding: 5px 50px; font-size: 18px;">Listo</button>
</form>
