<nav class="navbar navbar-dark navbar-expand-lg sticky-top" id="nav_bar">

    <div class="container">

      <a href="{% url 'inicio' %}" class="navbar-brand">
        <i class="fas fa-route"></i>
        RutaCR
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="collapsingNavbar">

        <ul class="navbar-nav nav-fill w-100" id="nav_list">

          <li class="nav-item">
            <a href="{% url 'empresas' %}" class="nav-link"><i class="nav-icon fas fa-bus"></i>Empresas</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'rutas' %}" class="nav-link"><i class="nav-icon fas fa-map-marker-alt"></i>Rutas</a>
          </li>
          {% if session_key %}
            <li class="nav-item">
            <a href="{% url 'buscar_logs' %}" class="nav-link"><i class="nav-icon fas fa-table"></i>Logs</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a href="/contacto/" class="nav-link"><i class="nav-icon fas fa-phone-alt"></i>Contáctenos</a>
          </li>
          {% if not session_key %}
              <li class="nav-item">
                <a href="/login" data-toggle="tooltip" data-placement="bottom" title="Iniciar sesión" class="nav-link"><i class="log-icon fas fa-sign-in-alt"></i></a>
              </li>
          {% endif %}
          {% if session_key %}
              <li class="nav-item">
                <a href="/usuario/editar/{{id}}" class="nav-link"><i class="nav-icon far fa-user"></i>Perfil</a>
              </li>
              <li class="nav-item">
                <a href="/logout/" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión" class="nav-link"><i class="log-icon fas fa-sign-out-alt"></i></a>
              </li>
          {% endif %}
        </ul>
      </div>

    </div>

    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

</nav>
