<nav class="navbar navbar-dark navbar-expand-lg sticky-top" id="nav_bar">
      <a href="{% url 'inicio' %}" class="navbar-brand">
        <i class="fas fa-route"></i>
        RutaCR
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" id="nav_list">
          <li class="nav-item">
            <a href="{% url 'inicio' %}" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'empresas' %}" class="nav-link">Empresas</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'rutas' %}" class="nav-link">Rutas</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contáctenos</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Acerca del proyecto</a>
          </li>
        </ul>
      </div>
      <span class="navbar-text">
        "La manera más rápida de orientarse"
      </span>
    </nav>
