{% extends "base.html" %}

{% block title %}
    CR-Route
{% endblock title %}

{% block mainContent %}
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <br>
                <h1 class="text-center">Registrar nuevo usuario colaborador</h1>
                <br>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST" action="{{action}}">
                    <!-- NOMBRE_USUARIO -->
                    <div class="form-group">
                        <label for="nombre_usuario">Nombre de usuario</label>
                        <input value="{{nombre_usuario}}" name="nombre_usuario" type="text" class="form-control" required>
                    </div>

                    <!-- NOMBRE -->
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input value="{{nombre}}" name="nombre" type="text" class="form-control" pattern="^[a-zA-Z]+$" title="Solo letras" required>
                    </div>

                    <!-- APELLIDO1 -->
                    <div class="form-group">
                        <label for="apellido1">Primer Apellido</label>
                        <input value="{{apellido1}}" name="apellido1" type="text" class="form-control" pattern="^[a-zA-Z]+$" title="Solo letras" required>
                    </div>

                    <!-- APELLIDO2 -->
                    <div class="form-group">
                        <label for="apellido2">Segundo Apellido</label>
                        <input value="{{apellido2}}" name="apellido2" type="text" class="form-control" pattern="^[a-zA-Z]+$" title="Solo letras" required>
                    </div>

                    <!-- CONTRASENA -->
                    <div class="form-group">
                        <label for="contrasena">Contraseña</label>
                        <input value="{{contrasena}}" name="contrasena" type="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Mínimo ocho caracteres, al menos una letra mayúscula, una minúscula, un número y un carácter especial." required>
                    </div>

                    <!-- ENVIAR -->
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </form>

            </div>
        </div>
    </div>


{% endblock mainContent %}
