{% extends "base.html" %}

{% load static %}

{% block title %}
    CR-Route
{% endblock title %}

{% block mainContent %}

    <link rel="stylesheet" href="{% static 'css/registro_usuario.css' %}">

    <div class="container mb-5 mt-5 change_trigger animated fadeInLeft">
        <div class="row justify-content-center">
            <div class="col-8 text-center" id="form">
                {% if titulo == "Editar usuario" %}
                    <h1 class="text-center" id="login_content">Editar usuario colaborador</h1>
                {% else %}
                    <h1 class="text-center">Registrar nuevo usuario colaborador</h1>
                {% endif %}
                {% if mensaje %}
                    <div class="alert alert-primary" role="alert">
                        {{ mensaje }}
                    </div>
                {% endif %}
                <form method="POST" action="{{action}}">
                    <!-- NOMBRE_USUARIO -->
                    <div class="form-group">
                        <label for="nombre_usuario">Nombre de usuario</label>
                        {% if titulo == "Editar usuario"  %}
                            <input value="{{nombre_usuario}}" name="nombre_usuario" type="text" class="form-control" disabled>
                        {% else %}
                            <input name="nombre_usuario" type="text" class="form-control" required>
                        {% endif %}
                    </div>

                    <!-- NOMBRE -->
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input value="{{nombre}}" name="nombre" type="text" class="form-control" pattern="^[a-zA-Z]+$" title="Solo letras" required>
                    </div>

                    <!-- APELLIDO1 -->
                    <div class="form-group">
                        <label for="apellido1">Primer Apellido</label>
                        <input value="{{apellido1}}" name="apellido1" type="text" class="form-control" pattern="^[a-zA-Z]+$" title="Solo letras" required>
                    </div>

                    <!-- APELLIDO2 -->
                    <div class="form-group">
                        <label for="apellido2">Segundo Apellido</label>
                        <input value="{{apellido2}}" name="apellido2" type="text" class="form-control" pattern="^[a-zA-Z]+$" title="Solo letras" required>
                    </div>

                    <!-- CONTRASENA -->
                    <div class="form-group">
                        <label for="contrasena">Contraseña</label>
                        <input name="contrasena" type="password" class="form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Mínimo ocho caracteres, al menos una letra mayúscula, una minúscula, un número y un carácter especial." required>
                    </div>

                    <!-- ENVIAR -->
                    {% if titulo == "Editar usuario" %}
                        <button type="submit" class="btn btn-success">Listo</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    {% endif %}

                    {% if titulo != "Nombre usuario"  %}
                        <div class="form-group mt-4">
                        <a class="text-white btn btn-danger" href="/usuario/borrar/{{id}}#">Eliminar mi cuenta permanentemente</a>
                        </div>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>


{% endblock mainContent %}
